.matchCard {
  margin: 0;
  border-radius: 3em;
  max-height: 8em;
  aspect-ratio: 1 / 1;
  padding: 0.8em;
  width: 8em;
  background-color: white;
  border: 0.01em solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchCard img {
  width: 65%;
}
.cardCaption {
  text-transform: capitalize;
  font-weight: 700;
  color: var(--yrgo-blue);
  font-size: 1.25em;
  padding: 0.5em 0 0;
}
