:root {
  --yrgo-red: #e51536;
  --yrgo-blue: #001a52;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 10px;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
