.badge {
  background-color: white;
}
.badge-checkbox {
  display: none;
}

.badge-checkbox + .badge {
  display: inline-block;
  padding: 0.5em 0.8em;
  border-radius: 2em;
  margin: 0.3em;
}

.badge-checkbox:checked + .badge {
  background: var(--yrgo-red);
  color: white;
}
